{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width= device witdh, initial-scale=1.0">
    <link rel="shortcut icon" href="https://www.djangoproject.com/favicon.ico">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">-->



    <title>
        {% block title %}
        {% endblock %}
    </title>

    <style>
        body {
            margin-top: 0px
    </style>
</head>
<body>
    <div class="contaniner">

        {% include "nav.html" %}

        <div class="#">
            <h1>

                {% block tituloPagina %}

                {% endblock %}
            </h1>
        </div>
        <hr>
            {% block content %}

            {% endblock %}
    </div>

    {% include "footer.html" %}
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>