<!--@@ -1,19 +1,22 @@ -->
<!-- https://getbootstrap.com/docs/4.0/examples/starter-template/ -->
<!-- https://github.com/JTruax/bootstrap-starter-template/blob/master/template/start.html -->

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->
    <div class="navbar navbar-default">
	    	<div class="container-fluid">
	    		<div class="collapse navbar-collapse" id="collapibleMenu">
	    			<ul class="nav navbar-nav navbar-left">
				        <li><a href="{% url 'home' %}">Home</a></li>
				        <li><a href="{% url 'livro_list' %}">Lista de livros</a></li>
				        <li><a href="{% url 'livro_new' %}">Cadastro</a></li>
				    </ul>
	    		</div>
	    	</div>
	    </div>

    </div>
</nav>